PowerShellRunBox/bin/
packages/
PowerShellRunBox/obj/
PowerShellRunBox/PowerShellRunBox.csproj.user
/.vs/PowerShellRunBox/v16/Server/sqlite3
/.vs/PowerShellRunBox/v16
/.vs/PowerShellRunBox/v15
/.vs/DebugPowerShell
